/* Formatacoes gerais */

.borda-obrigatorio {
	border: red solid 1px !important;
}

.classData > input {
	border: red solid 1px !important;
}

.obrigatorio {
	color: red !important;
}

.alinhamento-esquerda {
	text-align: left !important;
}

.ui-selectmanymenu {
	width: 100% !important;
}

.imagemBemVindo {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}